.num-iii{
    background-color: rgba(230, 230, 250, 0.3);
}
.Xsdrt-open{
    background-color: rgba(35, 189, 245, 0.01);
    padding: 2rem 0;
    padding-left: 0.7em;
}

.isSticky{
    position: sticky;
    bottom: -1px;
    background-color: #000;
    color: rgb(165, 87, 165);
     font-size: 88%;
     padding: 0.3em 0.1em;
}



.ap{
 padding: 0 1em;
}
.ap >div>div>p{
    font-size: 87%;
    padding: 0.5rem 0.14rem;
    width: 90%;
    color: #555;
}
.ap >div>div{
    margin: 1rem 0;
}
.ap >div>div>h2{
    font-size: 107%;
    padding: 0.5rem 0.14rem;
}


@media only screen and (min-width: 888px){
.ap{
    width: 80vw !important;
    margin: 1em auto !important;
}
.ap >div>div{
    margin-bottom: 0.01rem;
}
.ap >div>div>h2{
    font-size: 127%;
    padding: 0.5rem 0.14rem;
}
.isSticky{
    width: 0px;
    display: none;
}
}